<!DOCTYPE html>
<html class="transition-all duration-700">
  <head>
    <title>DataFrame Table</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- Tabulator CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.3.0/css/tabulator.min.css"
      rel="stylesheet"
    />
    <!-- Tabulator JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.3.0/js/tabulator.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.datatables.net/autofill/2.3.10/js/dataTables.autoFill.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <script>
    tailwind.config = {
      darkMode: "class",
    };
  </script>

  <body
    class="bg-gray-100 font-sans dark:bg-gray-700 transition-all duration-700 -z-30"
  >
    <div class="flex pt-4 pl-6 z-50">
      <input type="checkbox" id="drawer-toggle" class="relative sr-only peer" />
      <label
        id="drawer-settings"
        for="drawer-toggle"
        class="cursor-pointer font-semibold absolute z-10 top-4 -mb-10 left-6 text-sm inline-block p-2 transition-all transform duration-500 bg-blue-500 dark:bg-blue-600 rounded-md peer-checked:left-64 text-white dark:text-black"
        onclick="document.getElementById('drawer-settings').classList.toggle('fixed'); document.getElementById('drawer-settings').classList.toggle('absolute');document.getElementById('drawer-settings').classList.toggle('ml-2');document.getElementById('blurr').classList.toggle('opacity-40');"
      >
        Settings
      </label>
      <div
        class="fixed top-0 left-0 z-20 w-64 h-full transition-all duration-500 transform -translate-x-full bg-white shadow-xl peer-checked:translate-x-0 dark:bg-gray-800"
      >
        <div class="px-6 py-6">
          <label class="relative inline-flex items-center mb-5 cursor-pointer">
            <input
              type="checkbox"
              value=""
              class="sr-only peer"
              onchange="toggleDarkMode()"
            />
            <div
              class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
            <span
              class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Dark Mode</span
            >
          </label>
        </div>
      </div>
    </div>

    <!-- Your existing content goes here -->
    <div id="blurr" class="transform transition-all duration-500">
      <script>
        // Function to toggle dark mode and close settings drawer
        function toggleDarkMode() {
          const body = document.body;
          const html = document.documentElement;
          const settingsDrawer = document.getElementById("settingsDrawer");

          if (body.classList.contains("dark")) {
            darkmode = false;
            body.classList.remove("dark");
            html.classList.remove("dark");
            updateChart1();
            updateChart2();
          } else {
            darkmode = true;
            body.classList.add("dark");
            html.classList.add("dark");
            updateChart1();
            updateChart2();
          }
        }
      </script>

      <div class="transition-all duration-700 px-6 py-12 mx-auto max-w-8xl">
        <h1
          class="transition-all duration-700 text-4xl font-bold text-red-700 mb-8 dark:text-cyan-500"
        >
          Overall Analysis
        </h1>
        <div
          class="transition-all duration-700 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
        >
          <!-- Total Requests Card -->
          <div
            class="transition-all duration-700 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 space-y-2"
          >
            <span
              class="transition-all duration-700 text-gray-600 dark:text-gray-300 font-semibold"
              >Total Requests</span
            >
            <span
              class="transition-all duration-700 font-semibold text-gray-900 dark:text-gray-100 block text-3xl"
              >{{ total_requests }}</span
            >
          </div>

          <!-- Valid Requests Card -->
          <div
            class="transition-all duration-700 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 space-y-2"
          >
            <span
              class="transition-all duration-700 text-gray-600 dark:text-gray-300 font-semibold"
              >Valid Requests</span
            >
            <span
              class="transition-all duration-700 font-semibold text-green-600 dark:text-green-300 block text-3xl"
              >{{ valid_requests }}</span
            >
          </div>

          <!-- Failed Requests Card -->
          <div
            class="transition-all duration-700 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 space-y-2"
          >
            <span
              class="transition-all duration-700 text-gray-600 dark:text-gray-300 font-semibold"
              >Failed Requests</span
            >
            <span
              class="transition-all duration-700 font-semibold text-red-600 dark:text-red-300 block text-3xl"
              >{{ failed_requests }}</span
            >
          </div>

          <!-- Unique Visitors Card -->
          <div
            class="transition-all duration-700 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 space-y-2"
          >
            <span
              class="transition-all duration-700 text-gray-600 dark:text-gray-300 font-semibold"
              >Unique Visitors</span
            >
            <span
              class="transition-all duration-700 font-semibold text-indigo-600 dark:text-indigo-300 block text-3xl"
              >{{ unique_visitors }}</span
            >
          </div>

          <!-- Number of Requested Files Card -->
          <div
            class="transition-all duration-700 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 space-y-2"
          >
            <span
              class="transition-all duration-700 text-gray-600 dark:text-gray-300 font-semibold"
              >Number of Requested Files</span
            >
            <span
              class="transition-all duration-700 font-semibold text-blue-600 dark:text-blue-300 block text-3xl"
              >{{ num_requested_files }}</span
            >
          </div>

          <!-- Referrers Card (if available) -->
          {% if referrers != "" %}
          <div
            class="transition-all duration-700 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 space-y-2"
          >
            <span
              class="transition-all duration-700 text-gray-600 dark:text-gray-300 font-semibold"
              >Referrers</span
            >
            <span
              class="transition-all duration-700 font-semibold text-purple-600 dark:text-purple-300 block text-3xl"
              >{{ referrers }}</span
            >
          </div>
          {% endif %}

          <!-- Log Size Card -->
          <div
            class="transition-all duration-700 bg-white dark:bg-gray-800 rounded-lg shadow-md p-4 space-y-2"
          >
            <span
              class="transition-all duration-700 text-gray-600 dark:text-gray-300 font-semibold"
              >Log Size</span
            >
            <span
              class="transition-all duration-700 font-semibold text-yellow-600 dark:text-yellow-300 block text-3xl"
              >{{ log_size }} bytes</span
            >
          </div>
        </div>

        <div
          class="transition-all duration-700 bg-white rounded-lg shadow-md p-6 mt-8 overflow-x-auto dark:bg-gray-800"
        >
          <h2
            class="transition-all duration-700 text-2xl font-semibold text-gray-900 mb-4 dark:text-gray-100"
          >
            Data Table
          </h2>
          <table
            id="logs_table"
            class="transition-all duration-700 table table-striped table-bordered"
          >
            <thead>
              <tr>
                {% for column in columns %}
                <th
                  id="{{column}}"
                  class="transition-all duration-700 px-6 py-3 dark:bg-gray-700 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-700 dark:text-gray-200 uppercase tracking-wider"
                >
                  {{ column }}
                </th>
                {% endfor %}
              </tr>
            </thead>
          </table>
        </div>

        <div
          class="transition-all duration-700 bg-white rounded-lg shadow-md p-6 mt-8 dark:bg-gray-800"
        >
          <h2
            class="transition-all duration-700 text-2xl font-semibold text-gray-900 mb-4 dark:text-gray-100 mt-5"
          >
            Visitors Per Hour
          </h2>
          <div id="visitors_per_hour"></div>
          <div
            class="transition-all duration-700 flex justify-end mt-4 mr-16 pb-4"
          >
            <div
              class="transition-all duration-700 panel p-4 border rounded-lg bg-gray-100 dark:bg-gray-600"
            >
              <input
                class="transition-all duration-700 w-[700px] px-2 py-1 border rounded-md text-lg text-gray-900 dark:text-gray-100 dark:bg-gray-700"
                type="range"
                id="dataRange1"
                min="2"
                max="1000"
                step="1"
                value="20"
                oninput="document.getElementById('dataPointValue1').textContent = this.value;"
              />
              <div
                class="transition-all duration-700 text-gray-600 dark:text-gray-300 text-lg mt-2"
              >
                Data Points: <span id="dataPointValue1">20</span>
              </div>
            </div>
          </div>
          <div class="container mx-auto mt-4 dark:bg-gray-800">
            <div class="bg-white rounded-lg shadow-md p-4 mb-4 dark:bg-gray-800">
              <label for="row-count" class="text-gray-600 dark:text-gray-100 dark:bg-gray-800"
                >Number of Rows:</label
              >
              <input
                id="row-count"
                type="number"
                min="1"
                max="100"
                value="10"
                class="border rounded-md px-2 py-1 focus:outline-none focus:ring dark:bg-gray-700 text-gray-800 dark:text-gray-100 focus:border-blue-300"
              />
            </div>

            <div id="table-container1" class="dark:bg-gray-800 dark:text-gray-100"></div>
          </div>
          <h2
            class="transition-all duration-700 text-2xl font-semibold text-gray-900 mb-4 dark:text-gray-100 mt-20"
          >
            Requested Files (URLS)
          </h2>
          <div id="requested_files_chart"></div>

          <div class="transition-all duration-700 flex justify-end mt-4 mr-16">
            <div
              class="transition-all duration-700 panel p-4 border rounded-lg bg-gray-100 dark:bg-gray-600"
            >
              <input
                class="transition-all duration-700 w-[700px] px-2 py-1 border rounded-md text-lg text-gray-900 dark:text-gray-100 dark:bg-gray-700"
                type="range"
                id="dataRange2"
                min="2"
                max="1000"
                step="1"
                value="10"
                oninput="document.getElementById('dataPointValue2').textContent = this.value;"
              />
              <div
                class="transition-all duration-700 text-gray-600 dark:text-gray-300 text-lg mt-2"
              >
                Data Points: <span id="dataPointValue2">10</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <script>
          var darkmode = false;
          // Define your chart layout with the gray background color
          var chartLayout = {
              // Set background colors based on dark mode state
              paper_bgcolor: 'white',
              plot_bgcolor: 'white',
              title: 'Requested files (URLS)',
              xaxis: { title: 'Requested files' },
              yaxis: { title: 'Number of Hits' },
              xaxis_tickangle: -45
          };

          // Create the Plotly graph with the provided data and layout
          var chartData = {{ requested_files_chart|safe }}['data'];
          Plotly.newPlot('requested_files_chart', chartData, chartLayout);

          // Store the original chart data and layout
          var originalChartData = chartData;
          var originalChartLayout = chartLayout;

          function updateChart2() {
            var color = darkmode ? '#0F0E0E':'white';
              var updatedLayout = {
                  paper_bgcolor: color,
                  plot_bgcolor: color,
                  font: {
                    color: darkmode ? 'white':'black' // Specify the desired font color (e.g., black)
                  },
                  xaxis: {
                    title: 'Requests'
                },
                yaxis: {
                    title: 'Hits'
                },
                xaxis_tickangle: -45
              };
            let selectedDataPoints = parseInt(document.getElementById('dataRange2').value);

            // Ensure selectedDataPoints is within a valid range
            selectedDataPoints = Math.min(Math.max(selectedDataPoints, 0), originalChartData[0].x.length);

            const initialXRange = [
                originalChartData[0].x[0],  // Start from the first x value
                originalChartData[0].x[selectedDataPoints - 1]  // End at the selected x value
            ];

            const updatedTraces = originalChartData.map(function (data) {
              return {
                x: data.x.slice(0, selectedDataPoints),
                y: data.y.slice(0, selectedDataPoints),
                type: 'bar',
                marker: {
                    color: data.marker.color.slice(0, selectedDataPoints),
                },
                name: data.name
              }
            });

            Plotly.react('requested_files_chart', updatedTraces, {
                xaxis: { range: initialXRange },
                ...updatedLayout,
                animate: {
                    duration: 5000, // Animation duration in milliseconds
                    easing: 'cubic-in-out' // Easing function (e.g., 'linear', 'cubic-in-out', 'elastic', etc.)
                }
            });
          }
          document.getElementById('dataRange2').addEventListener('input', updateChart2);
          updateChart2();

      </script>

      <script>
          var chartLayout = {
              paper_bgcolor: 'white',
              plot_bgcolor: 'white',
              title: 'Visitors Per Hour',
              xaxis: { title: 'Timestamp' },
              yaxis: { title: 'Visitors' },
          };

          Plotly.newPlot('visitors_per_hour', {{ visitors_per_hour|safe }}['data'], chartLayout);

          function updateChart1() {
              var color = darkmode ? '#0F0E0E':'white';
              var updatedLayout = {
                  paper_bgcolor: color,
                  plot_bgcolor: color,
                  font: {
                    color: darkmode ? 'white':'black' // Specify the desired font color (e.g., black)
                  },
                  xaxis: {
                    title: 'Timestamp'
                },
                yaxis: {
                    title: 'Visitors'
                },
              };
                var selectedDataPoints = parseInt(document.getElementById('dataRange1').value);

              var initialXRange = [
                  {{ visitors_per_hour|safe }}['data'][0].x[0], // Start from the first x value
                  {{ visitors_per_hour|safe }}['data'][0].x[selectedDataPoints - 1] // End at the selected x value
              ];

              var updatedTrace = {
                  x: {{ visitors_per_hour|safe }}['data'][0].x.slice(0, selectedDataPoints),
                  y: {{ visitors_per_hour|safe }}['data'][0].y.slice(0, selectedDataPoints),
                  mode: 'lines+markers',
                  fill: 'tozeroy',
                  line: { shape: 'spline', smoothing: 1.3 },
                  marker: { size: 8, symbol: 'circle' }
              };

              Plotly.react('visitors_per_hour', [updatedTrace], { xaxis: { range: initialXRange }, ...updatedLayout, animate: {
                duration: 5000, // Animation duration in milliseconds
                easing: 'cubic-in-out' // Easing function (e.g., 'linear', 'cubic-in-out', 'elastic', etc.)
            } });
          }

          document.getElementById('dataRange1').addEventListener('input', updateChart1);
          updateChart1();

          document.addEventListener("DOMContentLoaded", function() {
            var tableData = {{ visitors_per_hour|safe }}['data'][0];

            // Extract the "Timestamp" and "Visitors" columns
            var timestamp = tableData.x;
            var visitors = tableData.y;
            
            // Combine the data into an array of objects
            var tableRows = timestamp.map(function(_, i) {
                return {
                    Timestamp: timestamp[i],
                    Visitors: visitors[i],
                    AverageVisitors: calculateAverage(visitors, i)
                };
            });

            // Define the table configuration
            var table = new Tabulator("#table-container1", {
                data: tableRows,
                layout: "fitDataFill",
                columns: [
                    { title: "Timestamp", field: "Timestamp", width: "50%" },
                    { title: "Visitors", field: "Visitors", width: "25%" },
                    { title: "Average Visitors", field: "AverageVisitors", width: "25%" }
                ],
                pagination: "local",
                paginationSize: 10,
                paginationSizeSelector: [10, 20, 50, 100], // Options for rows per page
                movableColumns: true, // Allow column reordering
                rowFormatter: function (row) {
                  // Add a custom class to each "tabulator-row" element
                  row.getElement().classList.add('dark:bg-gray-800','dark:text-gray-100','dark:hover:text-black');
                }          
            });
            // Handle the input change event to manually update the page size
            document.getElementById("row-count").addEventListener("input", function() {
              var rowCount = parseInt(this.value);
              table.setPageSize(rowCount);
            });
            
            // Function to calculate the average of visitors
            function calculateAverage(visitors, index) {
              // Calculate the average of the visitors for the current and previous entries
              var totalVisitors = 0;
              var numEntries = 0;
              for (var i = index; i >= 0; i--) {
                totalVisitors += visitors[i];
                numEntries++;
              }
              return (totalVisitors / numEntries).toFixed(2); // Rounded to 2 decimal places
            }
          });
        </script>

      <script>
          $(document).ready(function () {
            $('#logs_table').DataTable({
                data: {{ data|safe }},
                columns: [
                    {% for column in columns %}
                    { data: '{{ column }}'},
                    {% endfor %}
                ],
                // You can configure DataTables options here
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: '<"flex p-4 justify-between items-center space-x-4 outline-none transition-all duration-700 bg-gray-200 dark:bg-gray-700 text-white"<"my-custom-searchbox"f><"my-custom-length"l>><t<"bottom"p>>',
                drawCallback: function () {
                    var cells = document.querySelectorAll('#logs_table tbody tr');
                    var searchbox = document.getElementById('logs_table_filter').classList.add('dark:text-gray-100','text-black','transition-all','duration-700')
                    var ordering = document.getElementById('logs_table_length').classList.add('dark:text-gray-100','text-black','transition-all','duration-700');
                    // Loop through each cell and add the "inline" class
                    cells.forEach(function (cell) {
                        cell.classList.add('whitespace-nowrap', 'm-4', 'p-4', 'dark:text-gray-100', 'text-black','transition-all','duration-700',
                            'font-semibold', 'dark:bg-gray-700');
                    });

                    table.columns().every(function () {
                        this.autoFill();
                    });
                }
            });
        });
      </script>
      <script>
        function toggleDarkMode() {
          const body = document.body;
          const html = document.documentElement;
          const darkModeToggle = document.getElementById("dark-mode-toggle");

          if (body.classList.contains("dark")) {
            darkmode = false;
            body.classList.remove("dark");
            html.classList.remove("dark");
            updateChart1();
            updateChart2();
          } else {
            darkmode = true;
            body.classList.add("dark");
            html.classList.add("dark");
            updateChart1();
            updateChart2();
          }
        }
      </script>
    </div>
  </body>
</html>
